@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  font-family: Lato;  
}

#container {
  height: 625px;
  width: 360px;
  margin: 100px auto;
  background: #eee;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

h1 {
  background: #333;
  color: white;
  margin: 0;
  padding: 10px;
  text-transform: uppercase;
  font-size: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
	text-align: center;
}

p {
  padding-left: 20px;
}

form input[type="text"] {
  width:90px;
}

#totalBill {
  font-size: 14px;
  color: #red;
  background-color: #f7f7f7;
  width: 100px;
  padding: 5px 5px 8px 8px;
}

#totalBill:focus {
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
}

#peopleCount {
  width: 90px;
  padding: 5px 5px 8px 8px;
  margin-left: 20px;
  color: #red;
  background-color: #f7f7f7;
  font-size: 14px;
}

.dollarSign {
  display: inline;
}

#service {
  padding: 13px 13px 20px 20px;
  font-size: 25px;
}

button {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background: gray;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 17px;
  color: white;
}

button:hover {
  background: darkgray;
  border-bottom-color: #666;
}

button:active {
  position: relative;
  top: 1px;
}

#tipAndTotal {
  font-size: 30px;
  margin-top: 5px;
  text-align: center;
}

.tipAndTotalTextStyle {
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

#tipAndTotal sup {
  font-size: 20px;
  top: -18px;
}

#tipAndTotal small {
  font-size: 20px;
  font-weight: bold;
  display: block;
}
#totalAmountText {
  padding-top: 20px;
}